{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-else-return": "error",
    "no-multi-spaces": "error",
    "no-whitespace-before-property": "error",
    "no-console": "error",
    "no-var": "error",
    "keyword-spacing": ["error", { "before": true }],
    "space-before-blocks": ["error"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "quotes": ["error", "single"],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": ["error", "always-multiline"],
    "arrow-parens": ["error", "as-needed"],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": false }]
  }
}
